:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 200%;
  width: 100%;
  background-image: url('./components/images/bitcoin.jpg');
  color: black;
  font-size: 36pt;
  font-weight: bold;
}

.card-panel {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* flex-direction: column; */
  opacity: 0.5;
}

.coins {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: flex-start;
}

h2 {
  display: flex;
  justify-content: center;
  color: #ffffff;
}
