:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 200%;
  width: 100%;
  background-image: url('./components/images/bitcoin.jpg');
  color: white;
  font-weight: bold;
}

.coins {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: flex-start;
}

.coin-name {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
}

.price {
  width: 50px;
  float: left;
  margin-left: 100px;
}

span {
  margin-right: 75px;
}

.name {
  width: 200px;
  float: right;
  margin-left: 150px;
}

td {
  float: left;
}

.percent {
  float: right;
}
